{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>{{ event.name }}</h1>
            <hr>
            <p>{{ event.date | date () }}</p>
            <p>{{ event.location }}</p>
            <hr>
            <h2>Participants :</h2>
            <ul>
                {% for participant in event.participants %}
                    <li class="mt-2">{{ participant.name }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('app_add_participant', {'eventId': event.id}) }}" class="btn btn-primary mt-2">Ajouter un participant</a>
            <a href="{{ path('app_event') }}" class="btn btn-secondary mt-2">Retour</a>

            <hr>

            <p>Distance entre ma position actuelle et l'événement:</p>
            <button onclick="getLocation()" class="btn btn-primary">Calculer</button>
        </div>
    </div>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {
            const userLat = position.coords.latitude;
            const userLon = position.coords.longitude;

            window.location.href = `/events/{{ event.id }}/distance?lat=${userLat}&lon=${userLon}`;
        }
    </script>
{% endblock %}
